<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Let's Create Todo App</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <main id="app" >
    <div class="app-title">
      <h1>My Todo List</h1>
    </div>

    <div class="add-todo-form">
      <div class="form-title">
        <h2>Todoを追加する</h2>
      </div>
      <input v-model="todo.title" placeholder="Todoのタイトルを記入">
      <button type="button" @click="addTodo">追加</button>
    </div>

    <!-- todo-list : タスク全体を内包するコンテナ -->
    <div class="todo-list-container">
      <!-- todo-task : 個別のタスク要素を全て内包するコンテナ -->
      <div
        v-for="(todo, index) in todos"
        :key="index"
        class="todo-task-container"
        >
        <div  class="todo-task-id">
          ID：{{ todo.id }}
        </div>
        <div class="todo-task-title">
          Title： {{ todo.title }}
        </div>
        <button type="button" @click="deleteTodo(index)" v-show="!onUpdate">削除</button>
        <button type="button" @click="showUpdateForm(todo, index)" v-show="!onUpdate">編集</button>
      </div>

      <!-- 編集フォーム -->
      <div v-show="onUpdate">
        ID : {{ updateTodo.id }}
        <input v-model="updateTodo.title" placeholder="Todoのタイトルを記入">
        <button type="button" @click="saveUpdateTodo">保存</button>
        <button type="button" @click="onUpdate = !onUpdate">戻る</button>
      </div>

    </div>
  </main>


  <!-- 開発用 Vue CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- Vue.js の処理  -->
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        todos: [],
        todo: {
          id: 0,
          title: ''
        },
        updateTodo: {
          id: null,
          title: ''
        },
        onUpdate: false
      },
      methods: {
        addTodo() {
          this.todos.push({
            id: this.todo.id,
            title: this.todo.title
          })
          this.todo.id++
          this.todo.title = ''
        },
        deleteTodo(index) {
          this.todos.splice(index, 1)
        },
        showUpdateForm(todo, index) {
          this.onUpdate = !this.onUpdate
          this.updateTodo.title = todo.title
          this.updateTodo.id = index
        },
        saveUpdateTodo() {
          this.onUpdate = !this.onUpdate
          let id = this.updateTodo.id
          this.todos[id].title = this.updateTodo.title
        }
      },
    })
  </script>

</body>
</html>
