<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Let's Create Todo App</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <main id="app" >
    <div class="app-title">
      <h1>My Todo List</h1>
    </div>

    <div class="add-todo-form">
      <div class="form-title">
        <h2>Todoを追加する</h2>
      </div>
      <input v-model="todo.title" placeholder="Todoのタイトルを記入">
      <button type="button" @click="addTodo">追加</button>
    </div>

    <!-- wrapper : todoの一覧を内包するラッパー -->
    <div class="wrapper">
      <!-- container : todoの詳細を内包するコンテナ -->
      <div
        v-for="todo in todos"
        :key="todo.id"
        class="container"
        >
        <div class="todo-id">
          ID：{{ todo.id }}
        </div>
        <div class="todo-title">
          Title： {{ todo.title }}
        </div>
        <button type="button" @click="deleteTodo(todo)" v-show="!isShowUpdateForm">削除</button>
        <button type="button" @click="showUpdateForm(todo)" v-show="!isShowUpdateForm">編集</button>
      </div>
    </div>

    <!-- 編集フォーム -->
    <div v-show="isShowUpdateForm" class="update-todo-form">
      ID : {{ inputUpdateTodo.id }}
      <input v-model="inputUpdateTodo.title" placeholder="Todoのタイトルを記入">
      <button type="button" @click="updateTodo">保存</button>
      <button type="button" @click="isShowUpdateForm = !isShowUpdateForm">戻る</button>
    </div>
  </main>

  <!-- 開発用 Vue CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- Vue.js の処理  -->
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        todos: [],
        todo: {
          id: 0,
          title: ''
        },
        inputUpdateTodo: {
          id: null,
          title: ''
        },
        isShowUpdateForm: false
      },
      methods: {
        addTodo() {
          this.todos.push({
            id: this.todo.id,
            title: this.todo.title
          })
          this.todo.id++
          this.todo.title = ''
        },
        deleteTodo(targetTodo) {
          if (window.confirm(`本当に、ID：${targetTodo.id}  Title：${targetTodo.title} を削除してもよろしいでしょうか ?`)) {
            this.todos = this.todos.filter(todo => todo.id !== targetTodo.id)
          }
        },
        showUpdateForm(targetTodo) {
          this.isShowUpdateForm = !this.isShowUpdateForm
          this.inputUpdateTodo.title = targetTodo.title
          this.inputUpdateTodo.id = targetTodo.id
        },
        updateTodo() {
          this.todos = this.todos.map(todo => {
            if (todo.id === this.inputUpdateTodo.id) {
              todo.title = this.inputUpdateTodo.title
            }
            return todo
          })
          this.isShowUpdateForm = !this.isShowUpdateForm
        }
      },
    })
  </script>

</body>
</html>
