<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Let's Create Todo App</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <!-- TODO : Delete -->
  <!-- TODO : Update -->

  <main id="app" >
    <div class="app-title">
      <h1>My Todo List</h1>
    </div>

    <div class="add-todo-form">
      <div class="form-title">
        <h2>Todoを追加する</h2>
      </div>
      <input v-model="todo.title" placeholder="Todoのタイトルを記入">
      <button type="button" @click="addTodo">追加</button>
    </div>

    <!-- todo-list : タスク全体を内包するコンテナ -->
    <div class="todo-list-container">
      <!-- todo-task : タスク要素を全て内包するコンテナ -->
      <div
      class="todo-task-container"
      v-for="(todo, i) in todos"
      :key="i">
        <div class="todo-task-id">
          ID：{{ todo.id }}
        </div>
        <div class="todo-task-title" >
          Title： {{ todo.title }}
        </div>
        <button type="button" @click="removeTodo(i)" >削除</button>
        <button type="button" @click="getTodo(todo, i)" >編集</button>
      </div>

      <!-- 編集フォーム -->
      <div class="todo-update-form" v-show="onUpdate">
        <input v-model="update.title" placeholder="Todoのタイトルを記入">
        <button type="button" @click="updateTodo">保存</button>
        <button type="button" @click="onUpdate = !onUpdate">戻る</button>
      </div>
      
    </div>
  </main>


  <!-- 開発用 Vue CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- app.jsの登録 -->
  <script src="app.js"></script>
</body>

</html>